<%- include('../contents/header')%>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h2>Admin</h2>
                <a href="/admin/posts" class="btn btn-outline-danger">Posts</a>
                <a href="/admin/categorias" class="btn btn-outline-danger">Categorias</a>
                
            </div>
        </div>
    </div>
<%- include('../contents/footer')%>